<div class="main-content">
    <div *ngIf="allPermissionForOnlyThisScreen.is_read === false" class="container-fluid">
        <p style="text-align: center;
        color: #4caf50;
        font-weight: 700;">You Can't Access this page. If you want Please contact Admin</p>
    </div>
    <div *ngIf="allPermissionForOnlyThisScreen.is_read === true" class="container-fluid">
        <div class="row Custome_store_creat">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header custome_title">
                        <h5 class="card-title info_page_title custome_header_title">Add New Store Details</h5>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="addNewStoreForm">
                            <div class="row">
                                <div class="col-md-3 ">
                                    <label>Store Name <span class="custom_star_mark"> *</span> </label>
                                    <input class="form-control custom_select_added custom_class_input"
                                        formControlName="store_name"
                                        [ngClass]="{ 'is-invalid': submitted && a.store_name.errors }">
                                    <div *ngIf="submitted && a.store_name.errors" class="invalid-feedback">
                                        <div *ngIf="a.store_name.errors.required">Store Name is required</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Contact Details <span class="custom_star_mark"> *</span> </label>
                                    <input type="text" class="form-control custom_select_added custom_class_input"
                                        formControlName="phone_no" pattern="^[0-9]{10}$"
                                        [ngClass]="{ 'is-invalid': submitted && a.phone_no.errors }">
                                    <div *ngIf="submitted && a.phone_no.errors" class="invalid-feedback">
                                        <div *ngIf="a.phone_no.errors.required">Phone Number is required</div>
                                        <div *ngIf="a.phone_no.errors.pattern">Invalid MobileNumber</div>
                                    </div>
                                </div>
                                <!-- </div>
                            <div class="row"> -->
                                <div class="col-md-3">
                                    <label>Plant Code <span class="custom_star_mark"> *</span> </label>
                                    <!-- (keypress)="numberOnly($event)" numbersOnly pattern="^[1-9][0-9]*$" -->
                                    <input type="text" class="form-control custom_select_added custom_class_input"
                                        formControlName="plant_code"
                                        [ngClass]="{ 'is-invalid': submitted && a.plant_code.errors }">
                                    <div *ngIf="submitted && a.plant_code.errors" class="invalid-feedback">
                                        <div *ngIf="a.plant_code.errors.required">Plant Code is required</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Dark store Code <span class="custom_star_mark"> *</span> </label>
                                    <input type="text" class="form-control custom_select_added custom_class_input"
                                        (keypress)="numberOnly($event)" numbersOnly pattern="^[1-9][0-9]*$"
                                        formControlName="ds_code"
                                        [ngClass]="{ 'is-invalid': submitted && a.ds_code.errors }">
                                    <div *ngIf="submitted && a.ds_code.errors" class="invalid-feedback">
                                        <div *ngIf="a.ds_code.errors.required">Dark store Code is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Door No/Plot No <span class="custom_star_mark"> *</span> </label>
                                    <input type="text" class="form-control custom_select_added custom_class_input"
                                        formControlName="line_1"
                                        [ngClass]="{ 'is-invalid': submitted && a.line_1.errors }">
                                    <div *ngIf="submitted && a.line_1.errors" class="invalid-feedback">
                                        <div *ngIf="a.line_1.errors.required">Address is required</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Area Name <span class="custom_star_mark"> *</span> </label>
                                    <input type="text" class="form-control custom_select_added custom_class_input"
                                        formControlName="line_2"
                                        [ngClass]="{ 'is-invalid': submitted && a.line_2.errors }">
                                    <div *ngIf="submitted && a.line_2.errors" class="invalid-feedback">
                                        <div *ngIf="a.line_2.errors.required">Address is required</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Street Name/Landmark <span class="custom_star_mark"> *</span> </label>
                                    <input type="text" class="form-control custom_select_added custom_class_input"
                                        formControlName="street"
                                        [ngClass]="{ 'is-invalid': submitted && a.street.errors }">
                                    <div *ngIf="submitted && a.street.errors" class="invalid-feedback">
                                        <div *ngIf="a.street.errors.required">Address is required</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Store Status <span class="custom_star_mark"> *</span> </label>
                                    <select class="custom_select_added form-control custom_class_input"
                                        formControlName="is_active"
                                        [ngClass]="{ 'is-invalid': submitted && a.is_active.errors }">
                                        <option *ngFor="let list of store_status_list" value="{{list.value}}">
                                            {{list.status}}</option>
                                    </select>
                                    <div *ngIf="submitted && a.is_active.errors" class="invalid-feedback">
                                        <div *ngIf="a.is_active.errors.required">Store Status is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Country <span class="custom_star_mark"> *</span> </label>
                                    <input type="text" class="form-control custom_select_added custom_class_input"
                                        formControlName="country"
                                        [ngClass]="{ 'is-invalid': submitted && a.country.errors }">
                                    <div *ngIf="submitted && a.country.errors" class="invalid-feedback">
                                        <div *ngIf="a.country.errors.required">Country is required</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>State <span class="custom_star_mark"> *</span> </label>
                                    <input type="text" class="form-control custom_select_added custom_class_input"
                                        formControlName="state"
                                        [ngClass]="{ 'is-invalid': submitted && a.state.errors }">
                                    <div *ngIf="submitted && a.state.errors" class="invalid-feedback">
                                        <div *ngIf="a.state.errors.required">State is required</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>City <span class="custom_star_mark"> *</span> </label>
                                    <input type="text" class="form-control custom_select_added custom_class_input"
                                        formControlName="city" [ngClass]="{ 'is-invalid': submitted && a.city.errors }">
                                    <div *ngIf="submitted && a.city.errors" class="invalid-feedback">
                                        <div *ngIf="a.city.errors.required">City is required</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Pincode <span class="custom_star_mark"> *</span> </label>
                                    <input type="text" class="form-control custom_select_added custom_class_input"
                                        formControlName="pincode" (keypress)="numberOnly($event)" numbersOnly
                                        pattern="^[1-9][0-9]*$"
                                        [ngClass]="{ 'is-invalid': submitted && a.pincode.errors }">
                                    <div *ngIf="submitted && a.pincode.errors" class="invalid-feedback">
                                        <div *ngIf="a.pincode.errors.required">Pincode is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <label>Serviceable Pincodes <span class="custom_star_mark"> *</span> </label>
                                    <textarea class="form-control custom_select_added custom_class_input"
                                        (keypress)="numberOnlyForSRP($event)" type="text"
                                        formControlName="serviceable_pincodes"
                                        [ngClass]="{ 'is-invalid': submitted && a.serviceable_pincodes.errors }"></textarea>
                                    <div *ngIf="submitted && a.serviceable_pincodes.errors" class="invalid-feedback">
                                        <div *ngIf="a.serviceable_pincodes.errors.required">Serviceable Pincodes are
                                            required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Zone <span class="custom_star_mark"> *</span> </label>
                                    <input type="text" class="form-control custom_select_added custom_class_input"
                                        formControlName="zone" [ngClass]="{ 'is-invalid': submitted && a.zone.errors }">
                                    <div *ngIf="submitted && a.zone.errors" class="invalid-feedback">
                                        <div *ngIf="a.zone.errors.required">Zone is required</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>latitude <span class="custom_star_mark"> *</span> </label>
                                    <textarea class="form-control custom_select_added custom_class_input" type="text"
                                        formControlName="latitude"
                                        [ngClass]="{ 'is-invalid': submitted && a.latitude.errors }"></textarea>
                                    <div *ngIf="submitted && a.latitude.errors" class="invalid-feedback">
                                        <div *ngIf="a.latitude.errors.required">latitudes are
                                            required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>longitude <span class="custom_star_mark"> *</span> </label>
                                    <textarea class="form-control custom_select_added custom_class_input" type="text"
                                        formControlName="longitude"
                                        [ngClass]="{ 'is-invalid': submitted && a.longitude.errors }"></textarea>
                                    <div *ngIf="submitted && a.longitude.errors" class="invalid-feedback">
                                        <div *ngIf="a.longitude.errors.required">longitudes are
                                            required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Sales ORG <span class="custom_star_mark"> *</span> </label>
                                    <input type="text" class="form-control custom_select_added custom_class_input"
                                        formControlName="sales_org" (keypress)="numberOnly($event)" numbersOnly
                                        pattern="^[1-9][0-9]*$"
                                        [ngClass]="{ 'is-invalid': submitted && a.sales_org.errors }">
                                    <div *ngIf="submitted && a.sales_org.errors" class="invalid-feedback">
                                        <div *ngIf="a.sales_org.errors.required">Sales ORG is required</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Partner Number<span class="custom_star_mark"> *</span> </label>
                                    <input type="text" class="form-control custom_select_added custom_class_input"
                                        formControlName="customer"
                                        [ngClass]="{ 'is-invalid': submitted && a.customer.errors }">
                                    <div *ngIf="submitted && a.customer.errors" class="invalid-feedback">
                                        <div *ngIf="a.customer.errors.required">Partner Number is required</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Profit Center<span class="custom_star_mark"> *</span> </label>
                                    <input type="text" class="form-control custom_select_added custom_class_input"
                                        formControlName="profit_center" (keypress)="numberOnly($event)" numbersOnly
                                        pattern="^[1-9][0-9]*$"
                                        [ngClass]="{ 'is-invalid': submitted && a.profit_center.errors }">
                                    <div *ngIf="submitted && a.profit_center.errors" class="invalid-feedback">
                                        <div *ngIf="a.profit_center.errors.required">Profit Center is required</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>BUPLA<span class="custom_star_mark"> *</span> </label>
                                    <input type="text" class="form-control custom_select_added custom_class_input"
                                        formControlName="bupla" (keypress)="numberOnly($event)" numbersOnly
                                        pattern="^[1-9][0-9]*$"
                                        [ngClass]="{ 'is-invalid': submitted && a.bupla.errors }">
                                    <div *ngIf="submitted && a.bupla.errors" class="invalid-feedback">
                                        <div *ngIf="a.bupla.errors.required">BUPLA is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Company Code <span class="custom_star_mark"> *</span> </label>
                                    <input type="text" class="form-control custom_select_added custom_class_input"
                                        formControlName="company_code" (keypress)="numberOnly($event)" numbersOnly
                                        pattern="^[1-9][0-9]*$"
                                        [ngClass]="{ 'is-invalid': submitted && a.plant_code.errors }">
                                    <div *ngIf="submitted && a.company_code.errors" class="invalid-feedback">
                                        <div *ngIf="a.company_code.errors.required">Company Code is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row-reverse bd-highlight">
                                <div class="p-2 bd-highlight">
                                    <button mat-raised-button type="submit" (click)="createNewStore()"
                                        class="btn btn-success pull-right">Create</button>
                                </div>
                                <div class="p-2 bd-highlight">
                                    <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                        (click)="cancel()">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row Custome_slots_creat">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header store_info_title_custom">
                        <h5 class="card-title info_page_title">Store Slots</h5>
                    </div>
                    <div class="card-body">
                        <div style="text-align: center;">
                            <label class="checkmark" fxLayout fxLayoutAlign="center center"><input type="checkbox"
                                    id="selectall" (click)="all(months)">
                                Select All Months <span class="custom_star_mark"> *</span></label>
                        </div>
                        <div class="row" style="height: 90px;
                                    overflow: auto;">
                            <label *ngFor="let list of months;let i = index;" class="checkmark col-md-2"
                                value="{{list.value}}" fxLayout fxLayoutAlign="center center"><input type="checkbox"
                                    value="i" name="username" class="singlechkbox" (click)="single(i,list.value)">
                                {{list.name}}</label>
                        </div>
                        <div style="text-align: center;">
                            <label class="checkmark" fxLayout fxLayoutAlign="center center"><input type="checkbox"
                                    id="selectall_days" (click)="all_days(days)">
                                Select All Days <span class="custom_star_mark"> *</span></label>
                        </div>
                        <div class="row" style="height: 130px;
                                    overflow: auto;">
                            <label *ngFor="let list of days;let j = index;" class="checkmark col-md-1"
                                value="{{list.value}}" fxLayout fxLayoutAlign="center center"><input type="checkbox"
                                    value="j" name="username_days" class="singlechkbox_days"
                                    (click)="single_days(j,list.value)">
                                {{list.value}}</label>
                        </div>
                        <div class="carousel-item row custom_main_div_layout"
                            *ngFor="let days of numberOfDaysArray; first as isFirst;let i = index"
                            [ngClass]="{ 'active' : isFirst }">
                            <div class="custome_table_div_heigh col-md-8">
                                <table class="opraterBookingInitiated custome_table_dynamic" cellspacing="0">
                                    <tr>
                                        <th>
                                            <label>Start Time <span class="custom_star_mark">
                                                    *</span></label>
                                        </th>
                                        <th>
                                            <label>End Time <span class="custom_star_mark"> *</span></label>
                                        </th>
                                        <th>
                                            <label>Slot Limt <span class="custom_star_mark">
                                                    *</span></label>
                                        </th>
                                        <th>
                                            <label>Is It Active <span class="custom_star_mark">
                                                    *</span></label>
                                        </th>
                                    </tr>
                                    <tr *ngFor="let qwe of days.time_slots; let k=index">
                                        <td>
                                            <input type="time" id="appt" [(ngModel)]="qwe.slot_start_time" name="appt">
                                        </td>
                                        <td>
                                            <input type="time" id="appt2" [(ngModel)]="qwe.slot_end_time" name="appt2">
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="qwe.slot_limit" id="slot_limit"
                                                name="slot_limit">
                                        </td>
                                        <td>
                                            <select
                                                class="custom_select_added form-control custom_class_input_for_select"
                                                [(ngModel)]="qwe.is_active">
                                                <option *ngFor="let list of is_activeOrNot" value="{{list.value}}">
                                                    {{list.status}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <span class="material-icons custom_circel_added" (click)="add(i)">
                                    add_circle
                                </span>
                                <span class="material-icons custom_circel_added" (click)="remove(i)">
                                    remove_circle
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse bd-highlight">
                        <div class="p-2 bd-highlight">
                            <button mat-raised-button type="submit" (click)="createSlotsForStore()"
                                class="btn btn-success pull-right">Create</button>
                        </div>
                        <div class="p-2 bd-highlight">
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                (click)="cancel()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader" *ngIf="loader">
    <img src="/assets/img/Sahyadri-logo.png" alt="">
    <p>Loading please wait...</p>
</div>