.return_to_orders_list h6{
    cursor: pointer;
}
input {
    background-image: none;
    border: 0;
    border-bottom: 1px solid #cacaca;
    border-radius: 0;
    font-size: 14px;
    padding: 0 5px;
    margin-bottom: 15px;
    width: 100%;
    font-weight: 500;
    
}
input::placeholder {
    color: gray;
    font-weight: 500;
    font-size: 14px;
}