.custome_chaild_text_custom{
  cursor: pointer;
}
.custom_question p{
  margin: 0 0 0 30px !important;
}
/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-header-cell {
    color: #4caf50;
    font-size: 15px;
    font-weight: 700;
  }
  .order_view{
    cursor: pointer;
  }
  .order_edit{
    cursor: pointer;
  }
  .custome_title{
    color: #4caf50;
    font-size: 15px;
    font-weight: 700;
  }
  .custom_filter input {
    border: 1px solid lightgray;
    border-radius: 3px;
  }
.custom_filter h5{
  text-align: end;
}
.custom_export h5{
  text-align: end;
}
.custom_export span{
  cursor: pointer;
}
.close-button {
  position: absolute;
  right: 10px;
  top: 0px;
  opacity: 1;
  width: 12px;
}
.custome_title_in_pop-up {
  margin: 10px;
  color: #4caf50;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

input,textarea {
  background-image: none;
  border: 0;
  border-bottom: 1px solid #cacaca;
  border-radius: 0;
  font-size: 14px;
  padding: 0 5px;
  margin-bottom: 15px;
  /* min-width: 300px; */
  font-weight: 500;
  
}
textarea,input::placeholder {
  color: rgb(150, 48, 48);
  font-weight: 500;
  font-size: 14px;
}
.custom_select_added{
  width: 100%; 
  background-image: none;
  border: 0;
  border-bottom: 1px solid #cacaca;
  border-radius: 0;
  font-size: 14px;
  padding: 5px;
  margin-bottom: 15px;
  font-weight: 500;
  text-transform: capitalize;
}
.form-control:read-only{
  background-image: none !important;
}
.form-control[readonly]{
  background-color: white !important;
}
.pagination li{
  border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;

}
.total_pagination_custom{
  /* margin: 20px !important; */
  display: flex;
  justify-content: center;
}
.custome_final_added_look{
  padding-bottom: 0 !important;
}
.custome_final_added_look_2{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.custome_final_added_look_3{
  padding-top: 0 !important;
}
table{
  border: 1px solid lightgray
}
.table thead tr th{
  border: 1px solid lightgray
}
tr{
  border: 1px solid lightgray
}
td{
  border: 1px solid lightgray
}
th{
  border: 1px solid lightgray
}
/* .table_custome_resp{
  height: 300px;
  overflow: auto;
} */
th, td {
  text-align: center;
}
.table thead tr th{
  color: white !important;
  position: sticky !important;
  top: 0 !important;
  background-color: #4caf50 !important;
}
::-webkit-scrollbar {
  width: 5px;
}