.for_add_product{
    position: absolute;
    top: 4%;
    left: 95%;
}
.inside_the_add{
    cursor: pointer;
}
.custom_input{
    margin: 0 !important;
    padding: 0 !important;
}
.custom_question p{
    margin: 0 0 0 30px !important;
  }
  .close-button {
    position: absolute;
    right: 10px;
    background-color: none !important; 
    top: 0px;
    opacity: 1;
    width: 12px;
  }
  .custome_title_in_pop-up {
    margin: 10px;
    color: #4caf50;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
  }
  
input {
    background-image: none;
    border: 0;
    border-bottom: 1px solid #cacaca;
    border-radius: 0;
    font-size: 14px;
    padding: 0 5px;
    margin-bottom: 15px;
    width: 100%;
    font-weight: 500;
    
}
.custom_class_for_text{
    text-transform: capitalize;
}
.custom_no_producs_info{
    text-align: center;
}
.custom_select_added{
    width: 100%; 
    background-image: none;
    border: 0;
    border-bottom: 1px solid #cacaca;
    border-radius: 0;
    font-size: 14px;
    padding: 0 5px;
    margin-bottom: 15px;
    font-weight: 500;
    text-transform: capitalize;
}
input::placeholder {
    color: gray;
    font-weight: 500;
    font-size: 14px;
}
.custom_main_content_product_list{
    height: 450px;
    overflow: auto;
}
.mt-4{
    margin: 0 !important;
}
.customer_info_custom {
    margin-top: 1.5rem !important;
}
.list_of_orders_title_custom{
    text-align: center;
}
.delivery_details{
    margin: 0;
}
.delivery_details h3{
    margin: 0;
    padding: 0;
}
.delivery_details p{
    margin: 0;
    padding: 0;
}
/* .billing_address{ */
    /* border: 1px solid lightgray; */
    /* border-radius: 5px; */
    /* padding: 10px; */
/* } */
.order_tatal_info{
    text-align: end;
    padding: 0 15px 15px;
    margin: 0;
}
.order_tatal_info p{
    padding: 0;
    margin: 0;
}
.img-fluid{
    border: 1px solid lightgray;
    border-radius: 10px;
}
.media{
    padding-bottom: 10px;
}
.list_of_data_points ul li{
    padding: 0;
    margin: 0;
}
.order_fulfillment_stage{
    padding: 0;
    margin: 0;
}
.return_to_orders_list h6{
    cursor: pointer;
}


.for_custome_order_id{
    color: #4caf50 !important;
    font-weight: 700 !important;
    font-size: 15px !important;
    text-transform: none !important;
}


/* ---------- */
.delivery_details{
    margin: 0;
}
.delivery_details h3{
    margin: 0;
    padding: 0;
}
.delivery_details p{
    margin: 0;
    padding: 0;
}

.mt-4{
    margin: 0 !important;
}
.customer_info_custom {
    margin-top: 1.5rem !important;
}
.list_of_orders_title_custom{
    text-align: center;
}

.custom_qty{
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 20% !important;
    font-weight: normal !important;
    color: #787575 !important;
}
.removeIteam{
    display: none;
    cursor: pointer;
}
.editItem{
    cursor: pointer;
}
.custom_qty_edit{
    display: none;
    margin: 0 !important;
    font-weight: normal !important;
    color: #787575 !important;
    width: 20% !important;
    border: 1px solid lightgray !important;
    border-radius: 5px !important;
    padding: 0 10px !important;
}
.submitThisNow{
    margin: 5px !important;
    cursor: pointer;
    display: none;
}
.closeThisNow{
    margin: 5px !important;
    cursor: pointer;
    display: none;
}













body {
    background-color: #f5f6f7
}

.wrapper {
    width: 50%;
    margin-top: 50px
}

@media(max-width:992px) {
    .wrapper {
        width: 100%
    }
}
.main_custom_block{
    padding: 15px !important;
}
.panel-heading {
    padding: 0;
    /* border: 0;
    padding: 9px 3px !important; */
    border: 1px solid gray;
    border-radius: 10px;
}

.panel-title>a,
.panel-title>a:active {
    display: block;
    padding: 10px;
    color: #555;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none
}

.panel-heading a:before {
    /* font-family: 'Glyphicons Halflings'; */
    /* content: "\e114"; */
    float: right;
    transition: all 0.5s
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg)
}

.panel-default>.panel-heading {
    color: #282b2f;
    background-color: #ffffff !important;
    border-color: #d5d5d5
}

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.15;
        position: relative
    }

    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: -8.66667px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 24px;
    width: 24px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000
}

.option-input:hover {
    background: #9faab7
}

.option-input:checked {
    background: #2874ef
}

.option-input:checked::before {
    height: 24px;
    width: 24px;
    position: absolute;
    content: "\f111";
    /* font-family: "Font Awesome 5 Free"; */
    display: inline-block;
    font-size: 14.66667px;
    text-align: center;
    line-height: 26px
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.15s;
    -moz-animation: click-wave 0.15s;
    animation: click-wave 0.15s;
    background: #E91E63;
    content: '';
    display: block;
    position: relative;
    z-index: 100
}

.option-input.radio {
    border-radius: 50%
}

.option-input.radio::after {
    border-radius: 50%
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    float: left;
    margin-left: -4px !important;
    margin-top: 9px
}

input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px
}

.ml-10 {
    margin-left: 10px;
    font-size: 12px;
    color: #080808
}

.btn.btn-out {
    outline: 1px solid #fff;
    outline-offset: -5px
}

.btn {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 11px;
    padding: 10px 19px;
    cursor: pointer;
    color: #fff
}

.fa {
    font-size: 12px;
    color: #2874ef
}

.refine {
    padding: 0px 0px !important
}

.filters-text {
    background: #fff;
    border: 1px solid #d5d5d5;
    margin-bottom: 15px;
    padding: 12px
}

.filter-span {
    font-size: 17px;
    color: #2874ef
}
.custom_collapse_design{
    margin-top: 15px !important;
}

.form-control:read-only{
    background-image: none !important;
}

.product-listing-tiles {
    height: fit-content;
}
    .product-tile {
        /* background-color: #f6f6f6; */
        /* height: 125px; */
        /* width: 100%; */
        /* position: relative; */
        text-align: center;
        border: 1px solid lightgray !important;
        margin: 10px !important;
        padding: 5px !important;
    }       
        /* @include breakpoint-min($sm-min) {
            height: auto;
            border: 3px solid #f6f6f6;
            width: calc(33.33% - 6px);
            margin: 3px;
        } */
        /* @include breakpoint-min($md-min) {
            width: calc(25% - 6px);
        } */
        .product-tile-image {
            width: 30%;
            max-width: 150px;
            min-width: 110px;
            cursor: pointer;
        }
            /* @include breakpoint-min($sm-min) {
                width: 100%;
                height: 150px;
                max-width: 100%;
                background-color: #fff;
            } */
            img {
                max-height: 100%;
                max-width: 100%;
            }
/*         
        .product-tile-inner {
            @include breakpoint-max($xs-max) {
              width: calc(70% - 10px);
            }
  */
                .product-brand {
                    /* font-size: 14px;
                    font-weight: 600; */
                    /* color: #7e7e7e; */
                    cursor: pointer;
                    padding: 0 !important;
                    margin: 0 !important;
                }
                .product-title {
                    font-size: 18px;    
                    font-weight: 600;
                    color: #000;
                    height: 48px;
                    overflow: hidden;
                    cursor: pointer;
                    
                }
                .tile-subtitle {
                    font-size: 14px;
                    font-weight: 600;
                    color: #7f7f7f;
                }
                /* .product-footer { */
                    /* .product-price { */
                        .product-offered-price {
                            font-weight: 700;
                            color: #395a26;
                            cursor: pointer;
                            font-size: 16px;
                        }
                    /* } */
                    .product-cart input {
                            border: 1px solid #dadada;
                            height: 30px;
                            border-radius: 3px;
                            text-align: center;
                            font-weight: 600;
                            /* @include breakpoint-max($xs-max) {
                                display: none;
                            } */
                        }
                       /* button {
                            color: #fff;
                            background-color: #395a26;
                            height: 30px;
                            font-weight: 600;
                            min-width: 80px; */
                            /* @include breakpoint-min($sm-min) {
                                font-weight: 700;
                                font-size: 12px;
                            } */
                       /* }  */
                    