label{
    padding: 10px;
    margin: 0;
}
.custome_header_title{
    text-align: center;
}

input,select { 
    background-image: none;
    border: 0;
    border-bottom: 1px solid #cacaca;
    border-radius: 0;
    font-size: 14px;
    padding: 0 5px;
    margin-bottom: 15px;
    /* min-width: 300px; */
    font-weight: 500;
    
}
select,input::placeholder {
    color: rgb(150, 48, 48);
    font-weight: 500;
    font-size: 14px;
}
.custom_circel_added{
    cursor: pointer;
}
.slotsTimings{
    margin-top: 20px;
}
.custom_class_input{
    margin-bottom: 26px;
}
.custome_table_div_heigh{
    height: 150px;
    overflow: auto;
}
.overallOuterOne{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 10px;
    padding: 25px;
}
.mainOuterAddRemove{
    margin: auto;
}

